.form-container {
    padding: 10px; /* Adiciona preenchimento interno */
    margin: 10px 0; /* Adiciona espaçamento entre os campos */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

/* Estilizando o botão */
button {
    width: 10%; /* Faz o botão ocupar toda a largura */
    padding: 10px; /* Adiciona preenchimento interno */
    background-color: #ffffff; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

button:hover {
    background-color: darkgray; /* Cor do botão ao passar o mouse */
}
